!!! 5
html(lang="en")
  head
    title Scalatra: a tiny Sinatra-like web framework for Scala
  body
    h1 Scalatra      
    :markdown

      Scalatra is a tiny, [Sinatra](http://www.sinatrarb.com/)-like web framework for [Scala](http://www.scala-lang.org/).
      
      ## Quick start

      ### Git clone Quick Start  (SBT 0.7.x)

        1. Clone this repository:

            git clone git://github.com/scalatra/scalatra-sbt-prototype.git my-app

        2. Change directory into your clone:

            cd my-app

        3. Launch [SBT](http://code.google.com/p/simple-build-tool).

            ./sbt
