- response.setContentType("text/html") 
-@ var titlePre: String 
-@ var titleSep: String = " - "
-@ var titlePost: String = "Les Trois Couronnes - Didactique de l'Information Documentation"
-@ var title: String = Seq(titlePre, titleSep, titlePost).mkString
-@ var description: String 
-@ var body: String 
-@ var bodyClass: String = ""

- val stylesheets = List("/css/reset.css", "/css/font.css", "/css/grid.css", "/css/core.css", "/css/story.css", "/css/markdown.css", "/css/header.css", "/css/footer.css", "/css/home.css", "/css/doc.css", "/css/tag.css")

!!! 5
html(lang="fr")
  head
    meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    meta(content={description} name="description")
    meta(content="Pascal Duplessis" name="author")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title= title
    - for (s <- stylesheets)
      link(href={uri(s)} rel="stylesheet" type="text/css")

  body(class={bodyClass})
    div#screen.container
      !~~ body
